@define-color background #282828;
@define-color foreground #ebdbb2;
@define-color black      #222222;
@define-color yellow     #fabd2f;
@define-color red        #fb4934;
@define-color green      #b8bb26;

* {
  border: none;
  border-radius: 0;
  font-family: Input, "FiraCode Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: shade(alpha(@borders, 0.9), 1.25);
  border-bottom: 1px solid alpha(@unfocused_borders, 0.85);
  /*background: linear-gradient(to top, shade(alpha(@borders, 0.95), 1.15), shade(alpha(@borders, 0.9), 1.25));*/
  /*border-bottom: 1px solid alpha(@borders, 0.95);*/
  color: mix(@theme_text_color, #C0C0C0, 0.25);
}

#workspaces button {
  padding: 0 10px;
  background: transparent;
  color: @foreground;
  border-top: 3px solid @background;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  border-bottom: 3px solid @green;
}

#workspaces button.urgent {
  border-bottom: 3px solid @yellow;
}

#mode {
  background-color: @black;
  border-top: 3px solid @black;
  border-bottom: 3px solid @red;
}

#battery.warning,
#memory.warning,
#cpu.warning,
#custom-systemd,
#battery.critical,
#memory.critical,
#cpu.critical,

#battery.charging {
  border-bottom: 3px solid @green;
}

#pulseaudio,
#custom-systemd,
#network,
#cpu,
#memory,
#backlight,
#battery,
#clock {
  padding: 0 6px;
  margin: 0 6px;
}